*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
}

.img1{
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateZ(0);
}

.img2{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
/*c5a800*/
.button{
    position: absolute;
    bottom: 3%;
    left: 68%;
    transform: translate(-50%, -30%);
    background-color:#FF8C00; 
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    padding: 3rem 5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    
}


.button:hover{
    background-color: #ff8c00c4;
}


.button svg{
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    fill: #fff;
}

@media (max-width: 900px){
    html{
        font-size: 45%;
    }

    .button svg{
        margin-left: 5px;
       
    }

    .button{
        padding: 2.5rem 4rem;
        bottom: 6%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 600px){
    html{
        font-size: 30%;
    }
    .img1{
        display: none;
        opacity: 0;
    }
    .img2{
        display: block;
    }

    .button{
        padding: 1rem 2rem;
        bottom: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 400px){
    .button{
       padding:  1.5rem 1rem;
    }
}
